rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdminUser() {
      return request.auth.token.role == 'admin';
    }

    match /posts/{post} {
      function isValidPost(post) {
        return post.size() == 3
            && 'title' in post
            && post.title is string
            && post.title.size() > 0
            && post.title.size() <= 10
            && 'content' in post
            && post.content is string
            && post.content.size() > 0
            && post.content.size() <= 100
            && 'createdAt' in post
            && post.createdAt == request.time;
      }

      allow get: if true;
      allow list: if true;
      allow create: if isAuthenticated() && isValidPost(request.resource.data);
      allow update: if false;
      allow delete: if isAuthenticated();
    }
  }
}
